[giggle]
	compact-mode = false
	main-window-maximized = true
	main-window-geometry = 457x279+0+26
	history-view-vpane-position = 700
	main-window-view = HistoryView
	file-view-vpane-position = 929


[user]
	name = Jürgen 'tante' Geuter
	email = tante@tante.cc
    signingkey = 41E3EF4E
	signkey = 41E3EF4E

[diff]
    color = auto
    rename = copy 

[pager]
    color = true 

[status]
    color = auto

[diff "image"]
    textconv = pic2txt

[diff "pdf"]
    textconv = pdf2txt

[diff "zip"]
    textconv = unzip -c -a

[push]
	default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[help]
	autocorrect = 1
