[giggle]
	compact-mode = false
	main-window-maximized = false
	main-window-geometry = 978x722+1606+125
	history-view-vpane-position = 280
	main-window-view = HistoryView
	file-view-vpane-position = 419


[user]
	name = Jürgen Geuter
	email = tante@the-gay-bar.com
    signingkey = 41E3EF4E

[diff]
    color = auto
    rename = copy 

[pager]
    color = true 

[status]
    color = auto

[diff "image"]
    textconv = pic2txt

[diff "pdf"]
    textconv = pdf2txt

[diff "zip"]
    textconv = unzip -c -a

[push]
	default = matching
