###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet pyhead "python file header" 
# encoding: utf-8
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
$0
endsnippet
